{% extends "base.html" %}

{% block content %}

<head>
    <title>HabitForm</title>
</head>

<body>
    <h1 class="headline">HabitForm</h1>
<div>
    <h4 class="user_greeting">Hello,  {{ user }}!</h4>
</div>
{% for habit in habits %}
<div class="box">
<br><br>
<p>Habit: {{habit.habit}}</p>
<p>Duration: {{habit.amount}}</p>
<input type="hidden" name="id" value="{{  user  }}">
<br><br>
</div>
    {% endfor %}
        <div>
        <h1><a href="{% url 'add_habit' %}"> Add a new habit</a></h1>
        </div>
</body>

{% endblock %}